 .srisakdi-regular {
            font-family: "Srisakdi", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        .srisakdi-bold {
            font-family: "Srisakdi", system-ui;
            font-weight: 700;
            font-style: normal;
        }

        body {
            background-color: rgb(116, 231, 160);
        }

        .header-text {
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .header-container {
            background-color: antiquewhite;
            padding: 2%;
            border-radius: 15px;
            width: 25%;

        }

        .flex-header {
            display: flex;
            justify-content: center;
        }

        .img-contianer {
            padding: 2%;

        }

        .nav-menu-container {
            background-color: antiquewhite;
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 1%;
            border-radius: 10px;

        }

        .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }